*{
   border: 0;
    padding: 0;
    box-sizing: border-box;
}
#primary_box{
    background-color: #211726;
    overflow: hidden;
}
#secondary_box{
    background-color: rgb(255, 255, 255);
    
}
h1{

 
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #b43bff;
  text-align: center;
  font-size: 3rem;
  
 
}
.container{
    display: grid;
    gap: 30px;
    grid-template-columns:600px 600px ;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
   position: relative;
    padding: 55px;
    justify-content: center;
    
    
    
    
    
}

.boxs{
    height: 300px;
    width: 100%;
    border: none;
    border-radius: 12px;
   
   
}
   
   
.box1{
    background-image: url(./assets/37\ KILLS\ THUMBNAIL.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
 
    

}
.box2{
    background-image: url(./assets/blue\ theme\ bgmi\ thumbnail\ TRAIL\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.box3{
    background-image: url(./assets/THANOS\ BGMI\ LIVE\ Graident\ thumbnail.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.box4{
    background-image: url(./assets/THANOS\ THUMBNAIL.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*main page*/
.personal{
    position: relative;
}
.orangey{
    position: absolute;
    display: inline-block;
    margin-top: 5px;
    background-color: #a600ff;
    height: 900px;
    width: 400px;
    right: 10px;
   overflow: hidden;
    
  
    
    
}
.char{
    display: inline-block;
    position: absolute;
    right: -30px;
    top: 150px;
    
    
    
    
   
}
.char img{
    margin-top: 0;
    width: 500px;
    filter: grayscale(100%);
  
    
   
}
.logo
{
   
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        color: white;
       
     
}
.logo a{
    color: aliceblue;
    font-size: 1.5rem;
    text-decoration: none;
}
span{
    color: #a600ff;
}
.navigation{
    display: flex;
    margin: 25px;
    padding: 20px;
   gap: 10px;
   justify-content: space-between;
}
.itooms a{
    text-decoration: none;
    color: white;
}
.itooms{
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    gap: 30px;
    font-size: 1rem;
    z-index: 1;
    margin-left: -90px ;
    margin-top: 5px;


}
.icons{
    z-index: 1;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-right: 100px;
    margin-top: 3px;
}
section
{
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   margin-top: 50px;
}
.info{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    font-size: 2.3rem;
    margin: 0;
 
  
}
.secinfo{
    color: white;
    opacity: 0.3;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: -40px;
  margin-left: 10px
}
.button{
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
    font-style: normal;
    background-color: #a600ff;
    width: 150px;
    height: 45px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
  
}
.button a{
    text-decoration: none;
    color: white;
    margin-top: -30px;
   
    
}
footer{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  gap: 150px;
  font-style: normal;
  margin: 20px;
  padding: 10px;
  margin-top: 100px;

}
.downside_num{
    color: white;
    display: flex;
    gap: 150px;
    font-size: 2rem;
    font-weight: lighter;
    margin-left: 40px;
}
.downside_letter{
    color: white;
    opacity: 0.6;
    display: flex;
    gap: 210px;
    margin-top: -200px;
    margin-left: 25px;
}
.pp
{
    margin-right: -120px;
}
.pxd{
    margin-right: -120px;
}
.card-body{
    height: 300px;
    width: 300px;
    border: 3px solid black;
    background-color: #000000;
}
.card-image
{   width: 100%;
    height: auto; 
    object-fit: cover;
    object-position: center;
}
.card-body h1{
    color: rgb(255, 255, 255);
}
